<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f35559;">
    <a class="navbar-brand" href="#">UNLAM TRIVIA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/lobbyUsuario">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lobbyUsuario">Acerca de</a>
            </li>
        </ul>
        <span class="navbar-text">
           <a href="/sesion/cerrarSesion">Cerrar Sesion</a>
        </span>
    </div>
</nav>