<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost/view/css/style.css">
    <link rel="stylesheet" href="http://localhost/view/css/style_lobby.css">
    <link rel="stylesheet" href="http://localhost/view/css/ranking.css">
    <script src="http://localhost/view/js/ranking.js"></script>
</head>
<body>
{{> header_logueado}}
<div class="container">
    <div class="lobby-container">
        <h1>Alta de Preguntas</h1>
        <form action="procesar_formulario.php" method="post">
            <div class="form-group">
                <label for="pregunta">Pregunta:</label>
                <input type="text" id="pregunta" name="pregunta" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="opcionA">Opción A:</label>
                <input type="text" id="opcionA" name="opcionA" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="opcionB">Opción B:</label>
                <input type="text" id="opcionB" name="opcionB" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="opcionC">Opción C:</label>
                <input type="text" id="opcionC" name="opcionC" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="opcionD">Opción D:</label>
                <input type="text" id="opcionD" name="opcionD" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="respuesta">Respuesta Correcta:</label>
                <input type="text" id="respuesta" name="respuesta" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
{{> footer}}