<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/view/css/style.css">
    <link rel="stylesheet" href="http://localhost/view/css/style_lobby.css">
    <link rel="stylesheet" href="http://localhost/view/css/ranking.css">
    <script src="http://localhost/view/js/ranking.js"></script>
</head>
<body>
{{> header_logueado}}
<div class="container">
    <div class="lobby-container">
        <h1>Modificar Preguntas</h1>

    </div>
</div>
{{> footer}}