{{> header_logueado}}
<div class="container">
    <div class="lobby-container">
        <h1>Buscar y Modificar Preguntas</h1>
        <label for="numeroPregunta">Número de pregunta:</label>
        <input type="text" id="numeroPregunta">
        <button onclick="buscarPreguntas()">Buscar</button>
        <h2>Preguntas encontradas:</h2>
        <ul id="listaPreguntas"></ul>
    </div>
</div>
{{> footer}}