<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost/view/css/style.css">
    <link rel="stylesheet" href="http://localhost/view/css/style_lobby.css">
    <link rel="stylesheet" href="http://localhost/view/css/ranking.css">
    <script src="http://localhost/view/js/ranking.js"></script>
</head>
<body>
{{>header_logueado}}
<div class="container">
    <div class="lobby-container">
        <h2>Ranking</h2>
        <table id="ranking-tabla" class="responsive-table">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Puntaje</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            {{#usuarios}}
                <tr>
                <tr onclick="redireccionar('{{idUsuario}}')">
                    <td>{{usuario}}</td>
                    <td>{{puntosTotales}}</td>
                </tr>
            {{/usuarios}}
        </table>
    </div>
</div>
{{> footer}}
