<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tabla de usuarios</title>
    <style>
        .responsive-table {
            width: 100%;
            border-collapse: collapse;
        }
        .responsive-table th,
        .responsive-table td {
            padding: 8px;
            border: 1px solid #ddd;
        }
        .responsive-table tr:hover {
            background-color: #f5f5f5;
            cursor: pointer;
        }
    </style>
    <script src="http://localhost/view/js/ranking.js"></script>
</head>

<body>
<table id="ranking-tabla" class="responsive-table">
    <thead>
    <tr>
        <th>Usuario</th>
        <th>Puntaje</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    {{#usuarios}}
        <tr>
            <!-- <tr onclick="redirectToProfile('')">-->
            <td>{{usuario}}</td>
            <td>{{puntosTotales}}</td>
        </tr>
    {{/usuarios}}
</table>
</body>
</html>
