<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<link rel="stylesheet" href="view/css/style.css">

<div class="container">
<br>  <h2 class="text-center" style="color:#fff; font-weight:900;">UNLAM TRIVIA 2023</h2>
<hr>


<div class="row justify-content-center" style="margin-bottom:5em;">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<a href="/home" class="float-right btn btn-primary mt-1">Iniciar sesion</a>
	<h4 class="card-title mt-2">Formulario de registro</h4>
</header>
<article class="card-body">
<form action="/registro/procesarFormulario " method="POST">
	<div class="form-row">
		<div class="col form-group">
			<label for="nombre">Nombre </label>
		  	<input type="text" class="form-control" placeholder="" name="nombre">
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label for="apellido">Apellido</label>
		  	<input type="text" class="form-control" placeholder=" "name="apellido">
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" name="email" class="form-control" placeholder="">
	</div> <!-- form-group end.// -->
	<label for="genero">Genero</label>
	<div class="form-group">
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="genero" value="M">
		  <span class="form-check-label"> Hombre </span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="genero" value="F">
		  <span class="form-check-label"> Mujer</span>
		</label>
		<label class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" value="X">
          <span class="form-check-label"> Sin indicar</span>
        </label>
        <div class="form-group">
            <label for="fechaNac">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fecha" name="fechaNac">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        </div>
	</div> <!-- form-group end.// -->
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label for="ciudad">Ciudad</label>
		  <input type="text" class="form-control" name="ciudad">
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label for="pais">Pais</label>
		  <select id="inputState" class="form-control" name="pais">
		      <option>Brasil</option>
		      <option>Uruguay</option>
		      <option>Paraguay</option>
		      <option>Chile</option>
		      <option selected="">Argentina</option>
		  </select>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->
	<div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" class="form-control" placeholder="">
    </div>
	<div class="form-group">
		<label for="contrasenia">Contraseña</label>
	    <input class="form-control" type="password" name="contrasenia">
	</div> <!-- form-group end.// -->
	<div class="form-group">
    		<label for="contraseniaRepe">Repetir Contraseña</label>
    	    <input class="form-control" type="password" name="contraseniaRepe">
    	</div> <!-- form-group end.// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" name="enviarRegistro"> Registrarme</button>
    </div> <!-- form-group// -->
    <div class="form-group">
        <a href="/" class="btn btn-primary btn-block">Cancelar</a>
    </div> <!-- form-group// -->
</form>
</article> <!-- card-body end .// -->
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div>
<!--container end.//-->