{{> header}}
<div class="container">
<br>  <h2 class="text-center" style="color:#fff; font-weight:900;">UNLAM TRIVIA 2023</h2>
<hr>

<div class="row justify-content-center" style="margin-bottom:5em;">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<a href="/home" class="float-right btn btn-primary mt-1">Iniciar sesion</a>
	<h4 class="card-title mt-2">Formulario de registro</h4>
</header>
<article class="card-body">
<form action="/registro/procesarFormulario " method="POST" enctype="multipart/form-data">
        <div class="form-row">
		<div class="col form-group">
			<label for="nombre">Nombre </label>
		  	<input type="text" class="form-control" placeholder="" name="nombre" required>
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label for="apellido">Apellido</label>
		  	<input type="text" class="form-control" placeholder=" "name="apellido" required>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" name="email" class="form-control" placeholder="">
    {{#errors}}
        <p style="color:red">{{email}}</p>
    {{/errors}}
	</div> <!-- form-group end.// -->
	<label for="genero">Genero</label>
	<div class="form-group">
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="genero" value="M">
		  <span class="form-check-label"> Hombre </span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="genero" value="F">
		  <span class="form-check-label"> Mujer</span>
		</label>
		<label class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" value="X" checked>
          <span class="form-check-label"> Sin indicar</span>
        </label>
        <div class="form-group">
            <label for="fechaNac">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fecha" name="fechaNac" required>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        </div>
	</div> <!-- form-group end.// -->
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label for="ciudad">Ciudad</label>
		  <input type="text" class="form-control" name="ciudad" required>
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
		  <label for="pais">Pais</label>
		  <select id="inputState" class="form-control" name="pais">
		      <option>Brasil</option>
		      <option>Uruguay</option>
		      <option>Paraguay</option>
		      <option>Chile</option>
		      <option selected="">Argentina</option>
		  </select>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->
	<div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" class="form-control" placeholder="" required>
        {{#errors}}
            <p style="color:red">{{usuario}}</p>
        {{/errors}}
    </div>
    <div class="form-group">
        <label for="foto">Foto de perfil</label>
        <input class="form-control" type="file" name="foto" required id="foto">
    </div> <!-- form-group end.// -->
	<div class="form-group">
		<label for="contrasenia">Contraseña</label>
	    <input class="form-control" type="password" name="contrasenia" required>
	</div> <!-- form-group end.// -->
	<div class="form-group">
    		<label for="contraseniaRepe">Repetir Contraseña</label>
    	    <input class="form-control" type="password" name="contraseniaRepe" required>
        {{#errors}}
            <p style="color:red">{{contraseña}}</p>
        {{/errors}}
    </div> <!-- form-group end.// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" name="enviarRegistro"> Registrarme</button>
    </div> <!-- form-group// -->
    <div class="form-group">
        <a href="/" class="btn btn-primary btn-block">Cancelar</a>
    </div> <!-- form-group// -->

</form>
</article> <!-- card-body end .// -->
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div>
<!--container end.//-->

{{> footer}}