{{> header}}
<div class="container">
<br>  <h2 class="text-center" style="color:#fff; font-weight:900;">UNLAM TRIVIA 2023</h2>
<hr>

<div class="row justify-content-center" style="margin-bottom:5em;">
<div class="col-md-6">
<div class="card">
<article class="card-body">
    <h2 style="font-weight:900;">Para finalizar el registro por favor hacer click en el enlace enviado al correo electronico indicado.</h2>
    <a href="/">Volver a inicio</a>
</article>
</div>
</div>
</div>
</div>

{{> footer}}