{{> header}}
<div class="container">
    <br>  <h2 class="text-center" style="color:#fff; font-weight:900;">UNLAM TRIVIA 2023</h2>
    <hr>

    <div class="row justify-content-center" style="margin-bottom:5em;">
        <div class="col-md-6">
            <div class="card">
                <article class="card-body">
                    <h2 style="font-weight:900;">Su pregunta sugerida fue enviada. En las proximas horas sera revisada</h2>
                    <h2 style="font-weight:600; text-align: center"><a style="color:#f35587;"href="/lobbyUsuario">Volver a inicio</a></h2>
                </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


</div>
<!--container end.//-->

{{> footer}}